@import "../header2.css";
@import"./D-clinic.css";
.card{
    height: 810px;
}
#map{
    height: 353px;
    position: relative;
}
#map .icon{
    position: absolute;
    z-index: 999;
    top: 16px;
}
#map p{
    position: absolute;
    top: 16px;
}
#map .mapfoto{
    position: absolute;
    bottom: 0;
    width: 492px;
    height: 296px;
}