* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body {
    background-color: #fbfbfc;
  }
  /*header*/
  .head-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
    height: 80px;
    border-bottom: 1px solid #edf0f4;
  }
  .head-top img:nth-child(1) {
    position: absolute;
    left: 32px;
    top: 20px;
  }
  .head-top #text1 {
    position: absolute;
    left: 264px;
    top: 18px;
  }
  .head-top #text2{
  position: absolute;
  top: 18px;
  left: 494px;
  }
  .head-top #text3{
    position: absolute;
    left: 623px;
    top: 18px;
  }
  .head-top #text4{
    position: absolute;
    left: 831px;
    top: 18px;
  }
  .head-top #text2 h3{
    color: #101825;
  }
  .head-top #text3 h3{
    color: #101825;
  }
  .head-top #text4 h3{
    color: #4cb147;
  }
  .head-top .head-text1 h3 {
    color: #101825;
    font-family: HK Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.15000000596046448px;
    text-align: left;
  }
  .head-top .head-text1 p {
    color: #848b98;
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.25px;
    text-align: left;
  }
  .head-top .angle .span1{
    position: absolute;
    right: 32px;
    bottom: 18px;
    background-color: #EDF0F4;
    border-radius: 100%;
    width: 36px;
    height: 36px;
  }
  .head-top .angle .span1 img{
    position: relative;
    top: 10px;
    left: 12px;
  }
  .head-bottom {
    width: 832px;
    height: 1px;
    background-color: #4cb147;
    position: relative;
  }
  .head-bottom  .page1 {
    padding: 2px 8px;
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: white;
    position: absolute;
    border-radius: 100%;
    border: 1px solid #4cb147;
    left: 265px;
    bottom: -12px;
    background-color: #4cb147;
  }
  .head-bottom .page2{
    padding: 2px 8px;
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: white;
    position: absolute;
    border-radius: 100%;
    border: 1px solid #4cb147;
    left: 495px;
    bottom: -12px;
    background-color: #4cb147;
  }
  .head-bottom .page3{
    padding: 2px 8px;
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    position: absolute;
    border-radius: 100%;
    border: 1px solid #4cb147;
    left: 623px;
    bottom: -12px;
    color: white;
    background-color: #4cb147;
  }
  .head-bottom .page4{
    padding: 2px 8px;
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    position: absolute;
    border-radius: 100%;
    border: 1px solid #4cb147;
    left: 831px;
    bottom: -12px;
    color: #4cb147;
  }
  /*header*/
   /*section*/
   .profile-box {
    width: 556px;
    height: 953px;
    border: 1px solid #edf0f4;
    position: relative;
    margin:0 auto;
   
    background-color: white;
    border-radius: 8px;
  }
  .card .angle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 675px;
    position: relative;
    margin: 0 auto;
    top: 50px;
  }
  .card .angle span{
    background-color: white;
    border: 1px solid #edf0f4;
    border-radius: 8px;
    width: 40px;
    height: 40px;
  }
  .card .angle span img{
    padding: 8px 8px;
  }
  .profile-box .profile-avatar{
      position: absolute;
      border-bottom:1px solid #edf0f4 ;
      display: flex;
      column-gap: 10px;
      align-items: center;
      width: 556px;
      padding: 32px 24px;
  }
  .profile-box .profile-avatar h3{
     color: #101825;
  font-family: HK Grotesk;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  }
  .profile-box .profile-avatar p{
      color: #848B98;
  font-family: HK Grotesk;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.15000000596046448px;
  text-align: left;
  }
  .profile-box button {
    width: 492px;
     height: 48px;
     background-color: #4cb147;
     border-radius: 8px;
     border: none;
     position: absolute;
     left: 32px;
     bottom: 252px;
   }
    .profile-box button a {
     color: white;
     font-family: HK Grotesk;
     font-size: 14px;
     font-weight: 400;
     line-height: 20px;
     letter-spacing: -0.25px;
     text-align: center;
     padding: 12px 85px;   
   }
  form{
    display: grid;
    grid-template-columns: auto ;
    position: absolute;
    left: 32px;
    top: 161px;
    margin-top: 24px;
  }
  form div{
    display: flex;
    column-gap: 8px;
    position: relative;
  }
  form div #input {
    display: grid;
    grid-template-columns: auto;
    position: absolute;
   left: 100px;
   top: -20px;
  }
  form h1{
   color: #101825;
font-family: HK Grotesk;
font-size: 20px;
font-weight: 400;
line-height: 28px;
letter-spacing: -0.15000000596046448px;
text-align: left;
margin-bottom: 16px;
  }
  form label{
    color: #848B98;
font-family: HK Grotesk;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: -0.25px;
text-align: left;
  }
  form input {
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    width:492px ;
    height: 48px;
    margin-bottom: 16px;
  }
  form input::placeholder{
    color: #EDF0F4;
font-family: HK Grotesk;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.25px;
text-align: left;
  }
  select{
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    width:98px ;
    height: 48px;
  
  }
  #number{
    width: 394px;
  }
  .sosial{
    position: absolute;
    bottom: 76px;
    left: 32px;

  }
  .sosial div{
    width: 492px;
    height: 48px;
    border-radius: 8px;
    margin-top: 8px;
    display: flex;
    position: relative;
  }
  .sosial div img{
    width: 20px;
    height: 20px;
padding: 14px 16px;
  }
  .sosial div a{
font-family: HK Grotesk;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: -0.25px;
text-align: left;


  }
  .sosial .box1{
    border: 1px solid #D84E40;
  }
  .sosial .box1 a{
    position: absolute;
left: 185px;
top: 16px;
color: #D84E40;
  }
  .sosial .box2{
   border: 1px solid #1872F2;
  }
  .sosial .box2 a{
    position: absolute;
    left: 185px;
    top: 16px;
    color: #1872F2;
  }
  .card .bottom-text{
 position: absolute;
 left: 221px;
 bottom: 32px;
font-family: HK Grotesk;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: -0.25px;
text-align: left;
color: #848B98;
  }
  .card .bottom-text b{
    color: #4cb147;
  }
   /*section*/